div.code_cell {
    padding: 0;
    border: 0;
}

div.output_area .rendered_html img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.output_area .rendered_html table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 0.8em;
}

div.output_png img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rendered_html code, kbd, pre, samp, p, h1, h2, h3, h4, h5, h6, li, span  {
    color: #434447;
    /*color: red;*/
}
.rendered_html code, kbd, pre, samp {
    font-family: "Courier New";
    font-size: 13px;
    background-color: #ffffff;
    border: 0;
}

.rendered_html p, li {
    font-family: "Georgia";
    font-size: 13px;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rendered_html h1 {
    font-size: 34px;
}

.rendered_html h2 {
    font-size: 30px;
}

.rendered_html h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Proxima Nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#signature {
    margin-top: 2em;
}

#signature ul {
    list-style: none;
    margin-left: auto;
}

#signature ul li {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    font-size: 100%;
    font-family: "Proxima Nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

.email {
    color: #003580;
}

.tag {
    color: #003580;
    font-weight: bold;
}

#headline {
}
